@import '../../palette';

.board-container {
    height: 100%;
    overflow: scroll;
    padding: 0 20px;

    .board-title-container {
        height: 50px;
        padding: 10px 5px;
        
        h4.board-title {
            color: $white;
            font-weight: 600;
        }
    }

    #list-wrapper {
        display: flex;

        #list-wrapper-container {
            display: flex;

            .item-container {
                background-color: $trello-secondary-color-dark;
            }
        }

        .item-placeholder {
            background-color: $trello-primary-color-dark;
            display: flex;
            margin-right: 15px;

            min-height: 50px;
            max-height: 60px;
            margin-right: 15px;
            border-radius: 5px;
            cursor: pointer;
            width: 270px;
            padding: 0 10px;

            form {
                min-width: 250px;
                margin-right: 15px;
            }

            &.editing {
                min-height: 110px;
            }

            span {
                font-size: 1.1rem;
                padding: 5px;
                color: $white;
            }

            span.cancel-edit {
                font-size: 1.5rem;
                padding: 5px;
                vertical-align: middle;
                color: $white;
            }

            .item-input {
                font-size: 1.1rem;
                background-color: $trello-primary-color-dark;
                color: $white;        
                border: none;

                &:focus {
                    text-shadow: none;
                    border-color: transparent;
                    box-shadow: 0;
                    outline: 0 none;
                }
            }
            
            .item-controls {
                a {
                    color: $trello-secondary-color-dark;
                    margin-left: 10px;
                    font-weight: bold;
                    font-size: 1.2rem;
                    font-size: 2rem;
                    line-height: 2rem;
                    vertical-align: middle;
                }
            }
        }
    }
}