@import '../../../palette';

.item-placeholder-wrapper {
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
        background-color: $trello-secondary-color-extra-dark;
    }

    .item-placeholder {
        &.editing {
            height: 70px;
        }

        span.placeholder, span.placeholder:focus {
            color: $trello-secondary-color-dark;
            font-weight: 500;

            &:hover {
                color: $trello-secondary-color-extra-dark;
            }
        }

        input {
            background-color: $white;
            color: $black;
            width: 100%;
            border-radius: 3px;
        }
    }
}

.cancel {
    font-size: 1.2rem;
    line-height: 1.2rem;
    vertical-align: middle;
    color: $trello-secondary-color-extra-dark;

    &:hover {
        color: $trello-secondary-color-dark;
    }
}